.singleCardBox {
    cursor: pointer;


}

.containerStyles {
    width: 300px;
    height: 250px;
    

}

.nameAadRatingDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.2rem 0.5rem 0 0.5rem;
}

.singleCardBox p {
    padding: 0 0.3rem;
    color: rgb(121, 126, 138);
}

#price {
    color: black;
    font-weight: 500;
}

#night {
    font-weight: 100;
}